  <title>Download</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="downloadstyle.css">
<section id=download>

  <h1>download database</h1>
    <form action="/download" method="post" class="dbbx">
      <button type="submit" id="downloadb" action="/download">download</button>
    </form>
</section>

<%- include("partials/footer"); -%>
