<title>Friday-home</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="homestyle.css" />
<div class="main_cont">
  <h4><em>PROJECT XYZ</em></h4>
  <p id="main_para">
    Generate Lorem Ipsum placeholder text. Select the number of characters,
    words, sentences or paragraphs, and hit generate! Generated Lorem Ipsum
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Semper quis lectus nulla
    at volutpat diam ut venenatis.
  </p>
  <hr />
</div>
<img class="tree-img" src="../images/tes3.png" alt="" />

<div id="footer" class="row">
  <div class="col-sm-3 box-cont">
    <h2>Fusce luctus</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam
      pellentesque volutpat ex in tristique. Morbi ornare porttitor augue
      scelerisque sodales. Quisquesed
      <a href="">Read More....</a>
    </p>
  </div>
  <div class="col-sm-3 box-cont">
    <h2>Sedpretium</h2>
    <p>
      Duis ac arcu at ligula feugiat vulputate. Donec scelerisque ultricies
      urna.Donec sed massa fermentum, imperdiet lacus vitae, egestas mi. Donec
      accumsan sapien.
      <a href="">Read More....</a>
    </p>
  </div>
  <div class="col-sm-3 box-cont">
    <h2>Donec</h2>
    <p>
      Sed lobortis nec dui non tristique. Etiam volutpat consectetur magna et
      porttitor. Ut sed enim at tortor maximus faucibus vitae sit amet metus.
      Pellentesque mi justo, sagittis eget vel id.
      <a href="">Read More....</a>
    </p>
  </div>
  <h7>FRIDAY WORKS</h7>
</div>

<%- include("partials/footer"); -%>
