<title>Friday-home</title>
    <%- include("partials/header"); -%>
    <link rel="stylesheet" href="homestyle.css">
<div class="content">

  <p>
Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!
Generated Lorem Ipsum

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper quis lectus nulla at volutpat diam ut venenatis. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Nec dui nunc mattis enim ut tellus elementum sagittis. Convallis aenean et tortor at risus viverra adipiscing at in. Porttitor lacus luctus accumsan tortor posuere ac. Vitae et leo duis ut diam quam. Ac ut consequat semper viverra nam libero. Tortor aliquam nulla facilisi cras. Netus et malesuada fames ac turpis egestas. Sed risus pretium quam vulputate dignissim suspendisse. Morbi leo urna molestie at elementum.

Ultrices neque ornare aenean euismod elementum nisi. Sit amet commodo nulla facilisi. Orci eu lobortis elementum nibh tellus molestie nunc. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Mi ipsum faucibus vitae aliquet nec. Ut sem nulla pharetra diam sit. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Est ultricies integer quis auctor elit sed vulputate mi. A diam sollicitudin tempor id eu. Quis lectus nulla at volutpat. Sit amet nulla facilisi morbi. Mattis nunc sed blandit libero volutpat. Eget dolor morbi non arcu risus quis varius. Tristique senectus et netus et. Sit amet purus gravida quis blandit. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Ultricies lacus sed turpis tincidunt id aliquet risus.
</p>

<p>
At urna condimentum mattis pellentesque id nibh tortor id. Aliquet nibh praesent tristique magna sit amet purus gravida. Pellentesque id nibh tortor id aliquet lectus proin nibh nisl. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Sem nulla pharetra diam sit amet nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Pretium quam vulputate dignissim suspendisse in est ante in. Lobortis
At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Duis ultricies lacus sed turpis. Iaculis urna id volutpat lacus laoreet non. Neque sodales ut etiam sit. Nunc eget lorem dolor sed viverra ipsum. Nisi quis eleifend quam adipiscing vitae. Amet aliquam id diam maecenas ultricies mi eget. Amet purus gravida quis blandit turpis cursus in hac. Tincidunt lobortis feugiat vivamus at augue eget arcu. Ultrices gravida dictum fusce ut. Tellus id interdum velit laoreet. Dictum at tempor commodo ullamcorper a. Ultrices sagittis orci a scelerisque purus. Vel orci porta non pulvinar neque. Cras sed felis eget velit aliquet. Viverra suspendisse potenti nullam ac tortor. Suspendisse potenti nullam ac tortor. Tempus urna et pharetra pharetra. Ultricies integer quis auctor elit sed vulputate mi.

Nulla aliquet enim tortor at. Proin libero nunc consequat interdum varius sit amet. Nulla aliquet porttitor lacus luctus. Euismod quis viverra nibh cras pulvinar mattis. Nunc sed blandit libero volutpat sed cras ornare arcu. Dignissim diam quis enim lobortis. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Scelerisque purus semper eget duis. Sed augue lacus viverra vitae. Risus quis varius quam quisque id diam vel quam elementum. Lectus mauris ultrices eros in cursus. Aliquam purus sit amet luctus venenatis lectus magna. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Ut eu sem integer vitae justo.
</p>

</div>

<%- include("partials/footer"); -%>
