<title>Friday-home</title>
    <%- include("partials/header"); -%>
    <link rel="stylesheet" href="homestyle.css">
  <div class="row">
    <div class="col-sm-6">
      <h2><em>PROJECT XYZ</em></h2>
        <p>
          Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!
          Generated Lorem Ipsum

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper quis lectus nulla at volutpat diam ut venenatis. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Nec dui nunc mattis enim ut tellus elementum sagittis. Convallis aenean et tortor at risus viverra adipiscing at in. Porttitor lacus luctus accumsan tortor posuere ac. Vitae et leo duis ut diam quam. Ac ut consequat semper viverra nam libero.       </p>

    </div>
    <div class="col-sm-6">
       <img src="../images/tes3.png" alt="">
    </div>
 </div>
 <div id="footer" class="row">
      <h9>FRIDAY WORKS</h9>
 </div>

<%- include("partials/footer"); -%>
