<title>Friday-home</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="homestyle.css">
<div class="main_containt">
<div class="main_cont">
  <h4><em>Welcom to PhytoChemDB</em></h4>
  <p id="main_para">
    The ultimate resource for researchers and drug discovery
enthusiasts!
Our comprehensive database contains a vast array of information on phytochemicals, including
their canonical SMILES, PubChemID, IUPAC name, DOI, and a range of other data that can be
useful in docking studies and other drug discovery efforts. One of the unique features of our
database is the ability to search for phytochemicals using their canonical SMILES. This makes it
easy to find the information you need, even if you only have a chemical structure to work with.
At PhytoChemDB, we understand that the process of drug discovery can be complex and
time-consuming. That's why we've designed our database to be user-friendly and easy to
navigate, so you can quickly and easily find the information you need. Whether you're looking
for information on individual phytochemicals or trying to identify potential drug targets, our
database has everything you need to get started.
Whether you're a researcher, student, or simply interested in the latest developments in
phytochemical research and drug discovery, PhytoChemDB is the perfect resource for
you. So come on in and start exploring - the next breakthrough in drug discovery could
be just a few clicks away!
  </p>
  <hr>
</div>
<div class="imgcont">
  <img class="tree-img" src="../images/tes3.png" alt="tree-image" />
</div>
</div>
<div id="footer" class="row">
  <div class="col-sm-3 box-cont">
    <h2>Fusce luctus</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam
      pellentesque volutpat ex in tristique. Morbi ornare porttitor augue
      scelerisque sodales. Quisquesed
      <a href="">Read More....</a>
    </p>
  </div>
  <div class="col-sm-3 box-cont">
    <h2>Sedpretium</h2>
    <p>
      Duis ac arcu at ligula feugiat vulputate. Donec scelerisque ultricies
      urna.Donec sed massa fermentum, imperdiet lacus vitae, egestas mi. Donec
      accumsan sapien.
      <a href="">Read More....</a>
    </p>
  </div>
  <div class="col-sm-3 box-cont">
    <h2>Donec</h2>
    <p>
      Sed lobortis nec dui non tristique. Etiam volutpat consectetur magna et
      porttitor. Ut sed enim at tortor maximus faucibus vitae sit amet metus.
      Pellentesque mi justo, sagittis eget vel id.
      <a href="">Read More....</a>
    </p>
  </div>
  <h7>FRIDAY WORKS</h7>
</div>
